proxmox_endpoint             = "https://pve.home.arpa:8006/api2/json"
proxmox_api_token            = "root@pam!terraform=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
proxmox_ssh_username         = "root"
proxmox_ssh_private_key_path = "~/.ssh/proxmox_terraform"

node_name          = "pve"
container_id       = 110
container_hostname = "wg-easy"
container_os_type  = "alpine"

rootfs_datastore_id   = "local-lvm"
snippets_datastore_id = "snippets"
network_bridge        = "vmbr0"
network_vlan_id       = null
ipv4_address          = "192.168.1.20/24"
ipv4_gateway          = "192.168.1.1"
dns_servers           = ["192.168.1.1", "1.1.1.1"]
dns_domain            = "home.arpa"

ssh_public_keys = [
  "ssh-ed25519 AAAA... jonas"
]
